body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}

.head{
    background: url('./img/Spanish-house-slide 1.jpg') no-repeat;
    background-size: cover;
    height: 1080px;
}

.logo{
    padding-top: 14px;
    padding-left: 130px;
}

.container{
    display: flex;
}

.menu {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    display: flex;
    padding-top: 40px;
}

.menu a{
    color: white;
    text-decoration: none;
}

.one{
    padding-left: 56px;
    margin-right: 18px;
}

.two{
    margin-right: 3px; 
}

.three{
    margin-right: 17px; 
}

.four{
    margin-right: 15px; 
}

.five{
    margin-right: 7px; 
}

.six{
    margin-right: 7px; 
}
    
.seven{
    margin-right: 9px;   
}

.eight{
    margin-right: 10px; 
}

.nine{
    margin-right: 68px;
}

.ru{
    margin-right: 3px;
}

.bnt{
    width: 319px;
    height: 77px;
    margin-top: 18px;
    margin-right: 115px;
    background-color: #ECF400;
}

.bnt a{
    text-decoration: none;
    color: black;
}

.text-one{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 11px;
}

.text-two{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    padding-bottom: 7px;
}

.img{
    display: flex;
    padding-top: 50px;
}

.img-one{
    padding-left: 1500px;
    margin-right: 95px;
    height: 25px;
    width: 13px;
}

.img-two{
    margin-right: 95px;
    height: 25px;
    width: 25px;
}

.img-three{
    height: 25px;
    width: 35px;
}

.block{
    padding-top: 215px;
    padding-left: 169px;
}

.house{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    color: #FFFFFF;
    padding-left: 74px;
}

.complex{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    padding-left: 85px;
}

.line{
    border-top:  4px solid #ECF400;
    width: 610px;
    margin-left: 77px;
}

.stock{
    display: flex;
    padding-left: 77px;
    padding-top: 13px;
}

.do{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF; 
    margin-top: 50px;
    font-weight: 400;
}

.data{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    color: #FFFFFF;
    margin-right: 15px;
    margin-left: 10px;
}

.more-detailed{
    margin-left: 78px;
    margin-top: 19px;
    width: 406px;
    height: 87px;
    background-color:  #ECF400;
    border-radius: 133px;
}

.more-detailed a{
    text-decoration: none;
}

.more-detailed-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    padding-top: 16px;
    color: #000000;
}

/* main */

.main{
    margin: 0;
}

.heading{
    display: flex;
}

.heading h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    color: #04498F;
    padding-left: 160px;
    margin-top: 103px;
    width: 183px;
    margin-bottom: 0;
}

.heading a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #04498F;
    margin-top: 130px;
    margin-left: 1055px;
}

.line-two{
    border: 2px solid #04498F;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 38px;
}

.showcase{
    display: flex;
}

.kubok{
    display: flex;
}

.kubok img{
    padding-left: 160px;
    padding-top: 68px;
    margin-right: 27px;
}

.opis{
    padding-top: 68px;
}

.CONSTRUCTION-COMPANY{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    align-items: flex-end;
    color: #000000;
}

.nazvan{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: 59px;
    font-weight: 600;
    color: #04498F;
    padding-top: 23px;
}

.pois{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-top: 24px;
}

.chasi{
    display: flex;
}

.chasi img{
    padding-left: 225px;
    padding-top: 68px;
    margin-right: 22px;
}

.opisanie{
    padding-top: 74px;
}

.MANY-YEARS-OF-EXPERIENCE{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.SINCE-1998{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: 59px;
    color: #04498F;
    padding-top: 17px;
    font-weight: 600;
}

.LATEST-TECHNOLOGIES{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    padding-top: 30px;
}

.Line-2{
    display: flex;
}

.kran{
    display: flex;
}

.kran img{
    padding-left: 160px;
    padding-top: 119px;
    margin-right: 40px;
}

.informa{
    padding-top: 119px;
}

.BUILT{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.MORE-THAN-150-OBJECTS{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: 59px;
    color: #04498F;
    padding-top: 23px;
    font-weight: 600;
}

.RESIDENTIAL-AND-COMMERCIAL{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    color: #000000;
    padding-top: 24px;
}

.home{
    display: flex;
}

.home img{
    padding-left: 182px;
    padding-top: 113px;
    margin-right: 47px;
}

.opisanii{
    padding-top: 120px;
}

.MORE-THAN{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    color: #000000;
}

.METERS{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: 59px;
    color: #04498F;
    font-weight: 600;
    padding-top: 26px;
    display: flex;
}

.ESTATE{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    color: #000000;
    padding-top: 26px;
}

/* OUR-FACILITIES */

.OUR-FACILITIES{
    display: flex;
}

.OUR-FACILITIES h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    color: #04498F;
    padding-left: 160px;
    margin-top: 158px;
    width: 511px;
    margin-bottom: 0;
}

.OUR-FACILITIES a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #04498F;
    margin-top: 180px;
    margin-left: 790px;
}

.line-3{
    border: 2px solid #04498F;
    margin-top: 33px;
    margin-left: 160px;
    margin-right: 160px;
}

/* cards */

.cards{
    display: flex;
    justify-content: space-between;
    padding-left: 155px;
    padding-right: 164px;
    padding-top: 68px;
}

.card-one{
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 10px 40px rgba(65, 65, 65, 0.35);
    width: 510px;
    height: 600;
}

.txt-one h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    color: #000000;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}

.txt-one p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    color: #505050;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}

.card-two{
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 10px 40px rgba(65, 65, 65, 0.35);
    width: 510px;
    height: 600;
}

.card-two h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    color: #000000;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}

.card-two p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    color: #505050;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}

.card-three{
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 10px 40px rgba(65, 65, 65, 0.35);
    width: 510px;
    height: 600;
}

.txt-three h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    color: #000000;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}

.txt-three p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    color: #505050;
    margin: 0;
    padding-top: 10px;
    padding-left: 19px;
}

.butt{
    background: #FFFFFF;
    border: 5px solid #ECF400;
    border-radius: 50px;
    width: 270px;
    height: 60px;
    margin-left: 799px;
    margin-top: 46px;
}

.butta{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 27px;
    line-height: 32px;
    padding-left: 64px;
    padding-top: 14px;
}

.butta a{
    text-decoration: none;
    color: #000000;
}

.news{
    display: flex;
}

.news h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    color: #04498F;
    padding-left: 160px;
    padding-top: 91px;
    margin: 0;
}

.news a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #04498F;
    padding-left: 1038px;
    padding-top: 117px;
    margin: 0;
}

.line-4{
    border: 2px solid #04498F;
    margin-left: 160px;
    width: 1600px;
    height: 0px;
    margin-top: 33px;
    margin-right: 160px;
}

/*  card-news */

.card-news{
    display: flex;
    justify-content: space-between;
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 88px;
}

.card-news-one{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 30px 30px 0px 0px;
    width: 510px;
    height: 560px;
}

.card-news-one img{
    width: 510px;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
}

.card-news-one p{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000; 
    padding-left: 38px;
    padding-top: 35px;
    margin: 0;
}

.time-a{
    display: flex;
}

.time-a img{
    width: 20px;
    height: 20px;
    padding-left: 38px;
    padding-top: 47px;
}

.a-time{
    display: flex;
}

.a-time p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #505050;
    padding-top: 45px;
    padding-left: 9px;
}

.time-a a{
    text-decoration: none;
    color: #002952;
}

.border-one{
    width: 110px;
    height: 55px;
    border-radius: 7px;
    box-sizing: border-box;
    border: 2px solid #04498F;
    background: #FFFFFF;
    margin-left: 197px;
    margin-top: 28px;
}
.border-one-a{
    text-decoration: none;
    width: 58px;
    height: 23px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #002952;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 26px;
    padding-top: 16px;
}

.card-news-two{
    width: 510px;
    height: 560px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 30px 30px 0px 0px;
}

.card-news-two p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-left: 33px;
    padding-top: 36px;
    margin: 0;
}

.time-b{
    display: flex;
}

.b-time{
    display: flex;
}

.b-time img{
    width: 20px;
    height: 20px;
    padding-left: 33px;
    padding-top: 46px;
}

.b-time p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #505050;
    padding-left: 9px;
    padding-top: 44px;
}

.border-two{
    width: 110px;
    height: 55px;
    background: #FFFFFF;
    border: 2px solid #04498F;
    box-sizing: border-box;
    border-radius: 7px;
    margin-left: 193px;
    margin-top: 28px;
}

.border-two a{
    text-decoration: none;
}

.border-two-a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #002952;
    margin: 0;
    padding-top: 16px;
    padding-left: 26px;
}

.card-news-three{
    width: 510px;
    height: 560px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 30px 30px 0px 0px;
}

.card-news-three img{
    width: 510px;
    height: 300px;
}

.card-news-three p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-left: 33px;
    padding-top: 35px;
    margin: 0;
}

.time-c{
display: flex;
}

.c-time {
    display: flex;
}

.c-time img{
    width: 20px;
    height: 20px;
    padding-top: 46px;
    padding-left: 33px;
}

.c-time p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #505050;
    padding-left: 9px;
    padding-top: 44px;
}

.border-three{
    width: 110px;
    height: 55px;
    background: #FFFFFF;
    border: 2px solid #04498F;
    box-sizing: border-box;
    border-radius: 7px;
    margin-left: 193px;
    margin-top: 28px;
}

.border-three a{
    text-decoration: none;
}

.border-three-a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #002952;
    padding-top: 16px;
    padding-left: 26px;
}


/* consultation */

.consultation{
    width: 1600px;
    height: 271px;
    background: #ECF400;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 230px;
}

.get-a-consultation p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    padding-top: 43px;
    margin: 0;
    padding-left: 49px;
}

.forma{
    display: flex;
}

.select{
    width: 322px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #C80000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 53px;
    margin-top: 35px;
    margin-right: 68px;
}

.text-name{
    width: 322px;
    height: 70px;

    background: #FFFFFF;
    border: 1px solid #C80000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 35px;
    margin-right: 68px;
}

.number{
    width: 322px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #C80000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 35px;
    margin-right: 68px;
}

.knopka{
    width: 322px;
    height: 70px;
    background: #04498F;
    border-radius: 5px;
    margin-top: 35px;
}

.knopka-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0;
}

.foot{
    width: 1920px;
    height: 613px;
    background: #0e1347;
    box-shadow: 12px 12px 50px 1px rgba(146, 0, 0, 0.25);
    margin-top: 100px;
}

.infor{
    display: flex;
}

.logo-text{
    padding-top: 106px;
    padding-left: 160px;
}

.logo-text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 22px;
    width: 584px;
    height: 111px;
}

.media{
    display: flex;
}

.insta{
    display: flex;
}

.insta img{
    width: 20px;
    height: 20px;
    padding-top: 37px;
}

.insta a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 6px;
    padding-top: 32px;
    margin: 0;
    width: 100px;
    height: 29px;
}

.youtube{
display: flex;
}

.youtube img{
    width: 28.42px;
    height: 20px;
    padding-top: 37px;
    padding-left: 30px;
}

.youtube a{
    text-decoration: none;
    padding-top: 32px;
    margin: 0;
    padding-left: 6px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

.avangardstyle{
    display: flex;
}

.avangardstyle img{
    width: 20px;
    height: 20px;
    padding-top: 166px;
}

.avangardstyle-kg{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    color: #FFFFFF;
    padding-top: 166px;
    padding-left: 4px;
}

.text-contact{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    padding-left: 81px;
    padding-top: 98px;
}

.line-contact{
    width: 450px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin: 0;
    margin-top: 23px;
    margin-left: 81px;
}

.adress{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    line-height: 35px;
    display: flex;
    color: #FFFFFF;
    font-weight: 100;
    width: 358px;
    height: 70px;
    padding-top: 17px;
    padding-left: 81px;
}

.phone{
    display: flex;
}

.phone-img{
    width: 20px;
    height: 20px;
    padding-top: 34px;
    margin: 0;
    padding-left: 81px;
}

.phone-nomber{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150.69%;
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-left: 5px;
    margin: 0px; 
}

.phone-nomber a{
    text-decoration: none;
    color: #FFFFFF;
}

.bnt-phone{
    width: 234px;
    height: 42px;
    background: #ECF400;
    border-radius: 7px;
    margin-top: 77px;
    margin-left: 81px;
}

.bnt-phone a{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 150.69%;
    color: #000000;
    text-decoration: none;
    width: 185px;
    height: 33px;
    padding-left: 25px;
    padding-top: 4px;
}

.initial-one{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    line-height: 150.69%;
    color: #FFFFFF;
    font-weight: 100px;
    padding-top: 80px;
    padding-left: 14px;
}

.initial-two{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    line-height: 150.69%;
    display: flex;
    color: #FFFFFF;
    padding-top: 129px;
    padding-left: 9px;
}

.initial-line{
    margin-top: 10px;
    margin-left: 14px;
    width: 471px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.initial-bnt{
    display: flex;
    margin-top: 21px;
    height: 55px;
}

.initial-bnt input{
    width: 360px;
    background: #FFFFFF;
    margin-left: 14px;
    border: none;
}

.otprav{
    width: 58px;
    background: #ECF400;
    margin-left: 0;
    border: none;
}

